.classifi-value {
  display: flex;
  width: 100%;
  gap: 20px;
  font-size: 18px;
  color: #0048ff;
  font-weight: 400;
  line-height: 133%;
  padding: 40px 20px;
  flex-direction: column;
}
.var-item{
  font-family: Work Sans, sans-serif;
  flex-grow: 1;
  flex-basis: auto;
}
.histogram-heading{
  color: #0048ff;
  width: 100%;
  border-bottom: 1px solid #002B9A;
  // padding-top: 20px;
  font: 700 28px/129% Work Sans, -apple-system, Roboto, Helvetica, sans-serif;
}