.myprofile {
  display: flex;
  flex-direction: column;
  // width:100%;
  width: 95%;
}
.h2-profile {
  font-family: Roboto, sans-serif;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
  color: #0048FF;
  font-weight: bold;
  width: auto;
}
.btn-edit{
  width: 40px;
}
