.sidebar {
    width: 25%;
    height: 100vh;
    display: flex;
    float: left;
    margin-top: 0px;
    flex-direction: column;
    font-size: 28px;
    color: rgba(0, 43, 154, 0.65);
    font-weight: 500;
    // background-color: yellow;
    border-right: 2px solid #858585;
    // min-height: 100vh;
  }
  // @media (max-width: 991px) {
  //   .sidebar {
  //     margin-top: 40px;
  //   }
  // }
  .headertext {
    margin-top: 10px;
    color: #002b9a;
    font: 700 32px Roboto, sans-serif;
    text-align: center;
  }
  .icon-img{
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 45px;
  }

  .slide-text {
    font-family: Roboto, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
  }

  .slide-element {
    display: flex;
    margin-top: 48px;
    gap: 20px;
    color: #5975BD;
    font-weight: 700;
    white-space: nowrap;
    filter: brightness(1.53);
    text-decoration: none;
  }
  @media (max-width: 991px) {
    .slide-element {
      margin-top: 40px;
      white-space: initial;
    }
  }

  .slide-element:hover{
    background-color: #8AD7E0;
    text-decoration: underline;
  
  }

  .active-item {
    color: #002b9a;
    text-decoration: underline;
  }