.myedit {
  display: flex;
  flex-direction: column;
  width: 95%;
}
.h2-edit {
  font-family: Roboto, sans-serif;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
  color: #0048FF;
  font-weight: bold;
}
.btn-edit{
  width: 40px;
}
.edit-img:hover{
  background-color: black;
  color: white;
}